.categoriesMain, .groupIndex {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
}

.categoriesMain h1, .groupIndexHeader h1 {
  font-size: 40px;
  font-weight: 600;
}

.categoryIconsMain, .groupIndexList {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.categoryIconsList, .groupIndexList ul {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.categoryIconsList li, .groupIndexList li{
  margin-bottom: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.homeCategory, .groupImage {
  transition-duration: 1s;
  width: 300px;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.homeCategory:hover, .groupImage:hover {
  transition-duration: 1s;
  background-size: 120%;
}

.categoryIconsList a, .groupIndexList a {
  text-decoration: none;
  color: black;
}

.categoryIconsList h4, .groupIndexList p {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.categoryIconsList>ul>li>a>section{
  background-color: rgba(0,0,0,1);
}

// Group Index Specific

.groupIndex {
  margin-top: 20px;
}

// Category Image Links


.Outdoors {
  background-image: image-url('categories/outdoors.jpeg');
}

.Tech {
  background-image: image-url('categories/tech.jpeg');
}

.Family {
  background-image: image-url('categories/family.jpg');
  background-position: top;
}
.Health {
  background-image: image-url('categories/health.jpeg');
}
.Learning {
  background-image: image-url('categories/learning.png');
}
.Food {
  background-image: image-url('categories/food.jpg');
}
.Writing {
  background-image: image-url('categories/writing.jpeg');
}
.Language {
  background-image: image-url('categories/language.jpg');
}
