.categoriesMain, .groupIndex {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
}

.categoriesMain h1, .groupIndexHeader h1 {
  font-size: 40px;
  font-weight: 600;
}

.categoryIconsMain, .groupIndexList {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.categoryIconsList, .groupIndexList ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: space-around;
  align-items: center;
}

.categoryIconsList li, .groupIndexList li{
  margin-bottom: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.homeCategory, .groupImage {
  border: 1px solid black;
  width: 300px;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.groupImage:hover img {
  background-size: 110%;
}

.categoryIconsList a, .groupIndexList a {
  text-decoration: none;
  color: black;
}

.categoryIconsList h4, .groupIndexList p {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

// Group Index Specific

.groupIndex {
  margin-top: 20px;
}

// Category Image Links


.Outdoors {
  background-image: url(https://static.pexels.com/photos/196464/pexels-photo-196464.jpeg);
}

.Tech {
  background-image: url(https://static.pexels.com/photos/90807/pexels-photo-90807.jpeg);
}

.Family {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/df/Family_Portrait.jpg);
  background-position: top;
}
.Health {
  background-image: url(https://static.pexels.com/photos/40751/running-runner-long-distance-fitness-40751.jpeg);
}
.Sports {
  background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/c/event_450131948.jpeg);
}
.Learning {
  background-image: url(http://soft9000.com/blog9000/images/AllSenses.png);
}
.Food {
  background-image: url(https://static.pexels.com/photos/8313/food-eating-potatoes-beer-8313.jpg);
}
.Writing {
  background-image: url(https://static.pexels.com/photos/139496/pexels-photo-139496.jpeg);
}
.Language {
  background-image: url(https://c1.staticflickr.com/7/6163/6227242173_54e31c1418_b.jpg);
}
