// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Form style

.auth, .createGroup, .createEvent {
	display: flex;
	justify-content: center;
	background-color: #f2f2f2;
	min-height: 100vh;
}

.auth>*, .createGroup>*, .createEvent>* {
	width: 50%;
}

.auth input {
	width: 95%;
}

.auth .form, .createGroup .form, .createEvent .form {
	max-width: 480px;
}

.auth header, .auth form, .createGroup header, .createGroup form,
	.createEvent form, .createEvent header {
	background-color: white;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: 1px solid rgba(0,0,0,.12);
	position: relative;
	top: -20%;
}

.auth header, .createGroup header, .createEvent header {
	padding: 16px;
	border: 1px solid rgba(0,0,0,.12);
}

.auth form {
	padding: 16px;
	border: 1px solid rgba(0,0,0,.12);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 300px;
}

.auth h1, .createGroup h1, .createEvent h1 {
	color: #E51937;
	font-weight: 500;
	font-size: 42px;
	line-height: 1.25;
	margin-bottom: 10px;
}

.auth .button, .createGroup .button, .createEvent .button {
	max-width: 100px;
}

.auth *, .createGroup *, .createEvent * {
	font-weight: 600;
	font-size: 14px;
}

.auth a, .createGroup a, .createEvent a {
	text-decoration: none;
	color: #1f24cc;
}

.auth input, .createGroup input, .createEvent input {
	display: block;
	line-height: 1.45;
	padding: 4px;
	font-size: 16px;
	width: auto;
	margin-bottom: 16px;
	color: rgba(0,0,0,.87);
	border: 1px solid rgba(0,0,0,.12);
	border-radius: 3px;
	background-color: #fafafa;
}


// Group Form Style

.createGroup form, .createEvent form {
	padding: 16px;
	border: 1px solid rgba(0,0,0,.12);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 450px;
}

.createGroup textarea, .createEvent textarea {
	height: 100px;
}

.createGroup .button, .createEvent .button {
	margin-top: 16px;
	font-size: 16px;
}

.createGroup header, .createGroup form {
		top: -10%;
}

// Event Form Style

.createEvent form {
	height: 650px;
}

.createEvent header, .createEvent form {
	top: -5%;
}
