// Place all the styles related to the api/groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.groupDetailPage {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groupDetailPage * {
  margin: 20px;
}

.groupDetailHeader {
  width: 60%;
  background-color: #ed1c40;
}

.groupDetailHeader h1 {
  font-size: 48px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.groupColumns {
  display: flex;
  flex-direction: row;
  width: 60%;
  background-color: white;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  min-height: 800px;
}

.groupColumns>* {
  background-color: white;
  margin: 0;

}

.groupDetailLeft {
  flex: 1;
  margin-right: 10px;
  border: 1px solid black;
}

.groupDetailRight {
  flex: 3;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.groupDetailPage h3 {
  font-size: 18px;
  font-weight: 600;
}

.groupDetail p {
  max-width: 100%;
  word-wrap: break-word;
}

.groupDetails, .groupEventsList {
  border: 1px solid black;
  margin: 0;
  padding: 10px;
}

.groupDetails {
  margin-bottom: 10px;
}

.groupEventsList {
  height: 100%;
}
