.banner h1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.banner {
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  background-image: url(https://res.cloudinary.com/wiigo/image/upload/v1490140132/banner1_croped_darkened_gavqfh.jpg);
  background-size: cover;
  height: 462px;
  background-color: black;
  border-bottom: 2px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoriesMain {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
}

.categoriesMain h1 {
  font-size: 40px;
}

.categoryIconsMain {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.categoryIconsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 950px;
  justify-content: space-around;
  align-items: center;
}

.categoryIconsList li {
  margin: 16px;
}

.placeholderCategory {
  border: 1px solid black;
  width: 200px;
  height: 100px;
}

