.banner h1, .banner h2 {
  color: white;
  font-size: 80px;
  font-weight: 600;
  text-align: center;
  text-shadow: 3px 3px #000000;
}

.banner h2 {
  font-size: 40px;
}

.banner {
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/64/Sem_t%C3%ADtulo_holi_festival_colours_2013.jpg);
  background-position: bottom;
  background-size: cover;
  height: 462px;
  background-color: black;
  border-bottom: 2px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
}
