.searchBar input {
  margin-left: 5px;
  z-index: 2;
  width: 70%;
}

.searchResults {
  position: absolute;
  z-index: 1;
  background-color: white;
  max-height: 500px;
  overflow: scroll;
  margin-left: 5px;
}

ul.searchResults:empty {
    visibility: hidden;
}

.searchResults li {
  border: 1px solid black;
}
