/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#root {
  color: rgba(0,0,0,.87);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.45;
}

.button {
  color: #fff;
  background: #ed1c40;
  border-color: #ed1c40;
  position:relative;
  top:1px;
  font-weight: 500;
  transition: background .15s;
  border: 1px solid rgba(0,0,0,.12);
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.45;
  min-height: 36px;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  text-decoration: none;
  margin-left: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #d01031;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}

.switchBody {
  min-height: 100vh;
}
